<app-alerta-sucesso [podeExibir]="sucesso"></app-alerta-sucesso>

<section class="content-header">
    <div class="row">
        <div class="col">
            <h3>{{titulo}}</h3>
        </div>
    </div>
</section>

<section class="content">

    <form [formGroup]="funcionarioForm">

        <div class="row">
            <!-- NOME -->
            <div class="col">
                <label for="nome-funcionario">Nome</label>
                <input class="form-control form-control-sm" type="text" id="nomeFuncionario" formControlName="name" readonly>
            </div>
            <!-- NOME -->
        </div>

        <div class="row">

            <!-- EMPRESAS -->
            <div class="col margem">
                <label for="cpf-funcionario">Empresas</label>
                <select class="form-control form-control-sm" (change)="onSelect($event.target.value)" id="empresa-funcionario" formControlName="companyId">
                    <option></option>
                    <option *ngFor="let empresa of empresas" value={{empresa.id}}>
                        {{empresa.name}}
                </select>
            </div>
            <!-- EMPRESAS -->

        </div>

        <div class="row">
            <!-- SALVAR -->
            <div class="col-auto margem">
                <input class="btn btn-primary float-right" type="button" value="Salvar"
                    [disabled]="!funcionarioForm.valid" (click)="salvarFuncionario()">
            </div>
            <!-- SALVAR -->

            <!-- VOLTAR -->
            <div class="col-auto margem">
                <a class="btn btn-secondary " [routerLink]="['/funcionarios']" role="button">Voltar</a>
            </div>
            <!-- VOLTAR -->
        </div>

    </form>

</section>