<section class="content-header">
    <div class="row">
        <div class="col-9">
            <h3>{{titulo}}</h3>
        </div>
        <div class="col-auto btn-novo">
            <a class="btn btn-primary" [routerLink]="['/cadastro-empresa']" role="button">Novo</a>
        </div>
    </div>
</section>

<section class="content">

    <form [formGroup]="empresaForm">

        <div class="row">
            
            <!-- NOME -->
            <div class="col-3">
                <label for="nome-empresa">Nome</label>
                <input class="form-control form-control-sm" type="text" id="nome-empresa" formControlName="name">
            </div>
            <!-- NOME -->

            <!-- CNPJ -->
            <div class="col-3">
                <label for="cnpj-empresa">CNPJ</label>
                <input class="form-control form-control-sm" type="text" id="cnpj-empresa" [dropSpecialCharacters]="false" mask="00.000.000/0000-00" formControlName="cnpj">
            </div>
            <!-- CNPJ -->

            <!-- DATA FUNDAÇÃO -->
            <div class="col-3">
                <label for="fundacao-empresa">Data Fundação</label>
                <input class="form-control form-control-sm" type="text" id="fundacao-empresa" [dropSpecialCharacters]="false" mask="00/00/0000" formControlName="fundation">
            </div>
            <!-- DATA FUNDAÇÃO -->

            <div class="col-auto btn-filtrar">
                <input class="btn btn-primary float-right" type="button" value="Filtrar" (click)="filtrarEmpresas()">
            </div>

        </div>

    </form>

    <app-listagem-empresa [empresas]="empresas"></app-listagem-empresa>

</section>