<!-- INÍCIO -->
<section class="content-header">
</section>

<section class="content">

    <div class="jumbotron welcome-jumbotron">
        <h1>Projeto Onboarding Front-end</h1>
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" [routerLink]="['/empresas']">Empresas</a>
            <a class="btn btn-primary btn-lg" [routerLink]="['/funcionarios']">Funcionários</a>
            <a class="btn btn-primary btn-lg" [routerLink]="['/cargos']">Cargos</a>
        </div>
    </div>

</section>
<!-- FIM -->